# ------------------------------------- Vite ------------------------------------ #
vite.config.ts

# ---------------------------------- Tyepscript --------------------------------- #
tsconfig.json
tsconfig.node.json

# ------------------------------------ Assets ----------------------------------- #
public/**/*
node_modules/**/*

# ------------------------------------ Project ----------------------------------- #
DefaultMeta.tsx
SpriteIcons.tsx